$purple: #362889;/*rgba(54, 40, 137, 1)*/
$dark-nav-color: $purple;
$light-purple: #644AFF;
$dark-purple: #271D65;
$yellow: #FFC003;
$dark-yellow: #AD8201;
$orange: #F56330;
$blue: #2199E8;
$black: #0A0A0A;
$dark-grey: #B3B3B3;
$light-grey: #E6E6E6;
$white: #FFFFFF;