@import url('https://fonts.googleapis.com/css?family=Glegoo:700|Open+Sans:300,600|Oswald:500,700');

$oswald: 'Oswald', Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$glegoo: 'Glegoo', sans-serif;