h1, h2 {
  font-family: $oswald;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing:.05rem;
  color: $purple;
  span {
    color: $yellow;
  }
}
h1 {
  font-size: rem-calc(48);
  line-height: rem-calc(54);
  margin-bottom: rem-calc(24);
}

.main-content h2 {
  margin-bottom:2rem;
}
h2 {
  font-size: rem-calc(32);
  line-height: rem-calc(36);
  margin-bottom: rem-calc(12);
  &.entry-title{
    margin-bottom:1rem;
  }
}

h3 {
  font-family: $glegoo;
  font-weight: 700;
  font-size: rem-calc(24);
  line-height: rem-calc(32);
  letter-spacing:.05rem;
  color: $black;
  margin-top: 1.5rem;
  &.committee-title {
    font-weight: bold;
  }
}

h4 {
  font-family: $oswald;
  font-weight: 500;
  font-size: rem-calc(24);
  line-height: rem-calc(32);
  margin-bottom: rem-calc(10);
  text-transform: uppercase;
  letter-spacing:.05rem;
  color: $purple;

  &.date {
    color: $orange;
  }
}

h5,h6 {
  font-family: $glegoo;
  font-weight: 700;
  font-size: rem-calc(20);
  line-height: rem-calc(24);
  margin-bottom: rem-calc(18);
  color: $black;
  a {
    font-family: $glegoo;
    font-weight: 700;
    font-size: rem-calc(20);
    line-height: rem-calc(24);
    color: $purple;
  }
}
h6 {
	font-family: $open-sans;
	font-weight: 600;
  margin-bottom: rem-calc(12);
}
.image-group h6 {
  margin-bottom:0;
}

footer {
  h6 {
    font-family: $oswald;
    font-size:1.1666666667rem;
    text-transform:uppercase;
  }
  p {
    font-size:1.1666666667rem;
    &.address-label {
      margin-bottom:0;
    }
  }
}
h1, h2, h3, h4, h5, h6, p {
  &.text-orange {
    color: $orange;
  }
}

a.button {
  font-family: $oswald;
  letter-spacing:.05rem;
}

a {
  font-size:1.5rem;
  font-family: $open-sans;
  font-weight: 600;
  color: $purple;
  > h5 {
    color: $purple;
  }
}

a:hover {
	color:$black;
  text-decoration:none!important;
}

a.decorated-link {

  &::before, &::after {
    color: $orange;
  }

  &--single-left {
    &::before {
      content: '\002039  ';
    }
  }

  &--single-right {
    &::after {
      content: ' \00203A';
    }
  }

  &--double-left {
    &::before {
     content: '\0000AB  ';
    }
  }

  &--double-right {
    &::after {
      content: ' \0000BB';
    }
  }
}

p {
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  margin-bottom: rem-calc(12);
  &.wp-caption-text{
    font-size:1.1666666667rem;
    text-align:center;
    margin:0;
    padding:0;
  }
  &.member-info{
    font-size:1.1666666667rem;
    margin:0;
    padding:0;
    &.name {
      font-weight:600;
    }
    &.email {
      a {
        font-size:1rem;
      }
    }
  }
  &.clear {
    margin:0;
  }
}

ol, ul {
	list-style-position: inside;
}


hr {
  margin:24px 0 0 0;
  border-bottom: 2px solid $light-grey;
}
li {
	font-size: 1.5rem;
}

span.no-break {
  display:none!important;
  @include breakpoint(medium){
    display:inline!important;
  }
}
span.break {
  @include breakpoint(medium){
    display:none;
  }
}