.callout.large h1{ /*180109-dpc*/
	color: $white;
}

h1, h2 {
  font-family: $oswald;
  font-weight: 700;
  text-transform: uppercase;
  color: $purple;
	span {
		color: $yellow;
	}
	
}

h4 {
  font-family: $oswald;
  font-weight: 500;
  text-transform: uppercase;
  color: $purple;
}

h5 {
  font-family: $glegoo;
  font-weight: 700;
}

a.button {
  font-family: $oswald;
}

a {
  font-family: $open-sans;
  font-weight: 600;
  color: $purple;
}

p {
  font-family: $open-sans;
  font-weight: 300;
}
