#crumbs {
	border-bottom:2px solid $light-grey;
	list-style-type:none;
	margin:0 0 6rem 0;
	padding:1rem 0 1rem 2rem;
	li {
		display:inline-block;
		a {
			border-right:2px solid $light-grey;
			font-family: $oswald;
			font-weight:bold;
			font-size:1.5rem;
			color:$purple;
			text-transform:uppercase;
			padding-right:1rem;
			margin-right:1rem;
			&:before {
				content: "«";
				color: $orange;
				padding-right: 8px;
			}
		}
	}
}