.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $oswald;
  padding: 1em 2em 1em 2em;

  &.hollow {
    border-width: 3px;
  }
}

.margin-horizontal-2 {/*180109-dpc*/
	font-size: 1.25em;
	margin-top: 1em;
	max-width: 200px;
	margin: 2em auto;
	padding: 0;
a.button.hollow {
		background: transparent;
		color: $yellow;
		border: 3px solid $yellow;
		margin-left: auto;
		flex: .3;
		padding: .5em;
	}
	a.button {
		font-size: 1.25em;
		background: $yellow;
		color: $purple;
		margin-right: auto;
		flex: .3;
		padding: .5em;
	}
}

@media (min-width: 640px) {
	.button-group.margin-horizontal-2 {
		max-width: 500px;
	}
}
