.sites-button {
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $oswald;
  padding: 1em 2em 1em 2em;

  &.hollow {
    border-width: 3px;
  }
}

//Buttons-danpc
.button-group.stacked-for-small .button {
	font-size: 1.5rem;
    @include breakpoint(636px) {
			margin-right: 1.5rem;
	}
}
.button-group--home-cta {
	margin-top: 1em;
	max-width: 225px;
	margin: 2em auto;
	padding: 0;
	a.button {
		font-size: 1.5rem;
		background: $yellow;
		color: $purple;
		padding: 1rem;
		margin-bottom: 1rem;
		&:hover {
			background-color: $white;
			color: $yellow;
			transition: background-color 0.25s ease-out, color 0.25s ease-out;
		}
	}
	a.button.hollow {
		background: transparent;
		color: $yellow;
		border: 3px solid $yellow;
		margin-left: auto;
		-webkit-flex: .47 100px 0;
		-ms-flex: .47 100px 0;
		flex: .47 100px 0;
		padding: .5em;
		&:hover {
			background-color: $white;
			color: $purple;
			border-color: $white;
			transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
		}
	}
	@include breakpoint (medium) {
		max-width: 400px;
	}
}
.button-group--home-meeting a.button:hover {
	background-color: $white;
	color: $purple;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.button-group--home-meeting a.button.hollow:hover {
	background-color: $white;
	border-color: $white;
	color: $yellow;
	transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
}

.cta-links {//closing cta
	display: flex;
	justify-content: center;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
	& a.button {
		font-size: 1.2em;
		padding: .5em;
		flex: .18;
		margin-right: 20px;
		&:hover {
			background-color: $dark-purple;
			transition: background-color 0.25s ease-out;
		}
	}
	& a.button.hollow {
		margin-right: 0;
		&:hover {
			background-color: $light-grey;
			border-color: $dark-purple;
			color: $dark-purple;
			transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
		}
	}
	@include breakpoint (medium) {
		max-width: 400px;
	}
}

.button-group--home-meeting {
	font-size: 1.25em;
	margin-top: 1em;
	max-width: 280px;
	margin: 1em auto 2em auto;
	padding: 0;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	a.button {
		font-size: 1.25em;
		background: $purple;
		color: $yellow;
		margin-right: auto;
		padding: .5em;
	}
	a.button.hollow {
		background: transparent;
		color: $purple;
		border: 3px solid $purple;
		padding: .5em;
	}
	@include breakpoint (medium) {
		max-width: 500px;
		a.button {
			-webkit-flex: .47 1 0 !important;
			-ms-flex: .47 1 0 !important;
			flex: .47 1 0 !important;
		}
	}
}

//Get Involved
.stacked-for-small.button-group-get-involved {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
    @include breakpoint(636px) {
			max-width: 600px;
    }
}
a.button.button-get-involved {
	margin-right: 20px;
	margin-bottom: .5rem;
	padding: 1rem;
	&.last {
		margin-right: 0;
	}
}
a.button.button-get-involved:hover {
	background-color: $dark-nav-color;
}
a.button.hollow.button-get-involved:hover {
	border-color: $dark-nav-color;
	background-color: $white;
	color: $dark-nav-color;
	transition: border-color 0.25s ease-out, color 0.25s ease-out;
}

//Closing CTA
.module__closing-cta.callout {
	background: transparent;
	border: none;
	padding: 3em 1em 0;
	margin-bottom: 0;
	& h4 {
		color: $primary-color;
		margin-top: 0;
	}
	& a.button {
		border: 2px solid $primary-color;
		margin-bottom: 1px;
		&:hover {
			background-color: $white;
			color: $purple;
			border-color: $purple;
			transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
		}
		@include breakpoint (medium) {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}
	& a.button.hollow:hover {
			background-color: $primary-color;
			color: $white;
			border-color: $purple;
			transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
	}
}

//At small screen widths
.cta-links a.button,
.button-group .button {
	margin-right: 0;
}
