//Events Calendar
h2.tribe-events-page-title {
	font-family: $oswald;
	font-size: rem-calc(32);
	font-weight: 700;
	line-height: rem-calc(36);
	margin-bottom:0;
}

// Events Search Bar
#tribe-events-bar {
	margin-bottom:4rem;
}

// Calendar
#tribe-events-content {
	table.tribe-events-calendar {
		border:none;
		margin-bottom:2rem;
	}
	// Calendar Header + Footer
	#tribe-events-header {
		top:-2rem; // align dates with bottom of header
		margin-bottom:0;
	}
	#tribe-events-header, #tribe-events-footer {
		ul.tribe-events-sub-nav {
			li {
				a {
					font-size:1.5rem;
					font-family: $open-sans;
					font-weight: 700;
					color: $purple;
					background:transparent;
					padding:0;
					span {
						font-size:1rem;
						line-height: 18px;
						vertical-align: middle;
						color:$orange;
					}
				}
			}
		}
	}
	// Calendar Grid
	.tribe-events-calendar {
		// Day Header 
		thead th {
			font-family: $oswald;
			font-weight: 700;
			font-size: 1.25rem;
			color: $purple;
			background-color: transparent;
			border-left: none;
			border-right: none;
			border-top: 2px solid $light-grey;
			border-bottom: 2px solid $light-grey;
			padding: .8333333333rem 0 1rem 0;
			white-space: nowrap;
		}

		// Calendar grid Wrapper
		td {
			border: 2px solid $light-grey;
		}

		// -- Day backgrounds
		td.tribe-events-othermonth, 
		td.tribe-events-thismonth.tribe-events-past {
			background-color:$lightest-grey;
		}

		// -- Date Number
		div[id*=tribe-events-daynum-],
		td.tribe-events-past div[id*=tribe-events-daynum-],
		td.tribe-events-thismonth div[id*=tribe-events-daynum-],
		td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-],
		div[id*=tribe-events-daynum-],
		div[id*=tribe-events-daynum-]>a,
		td.tribe-events-past div[id*=tribe-events-daynum-]>a,
		td.tribe-events-thismonth div[id*=tribe-events-daynum-]>a,
		td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-]>a {
			background:transparent;
			font-size:1.1666666667rem;
			text-align:right;
			color:$dark-grey;
		}
		td.tribe-events-past div[id*=tribe-events-daynum-],
		td.tribe-events-thismonth div[id*=tribe-events-daynum-],
		td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-],
		div[id*=tribe-events-daynum-] {
			padding:1rem;
		}

		// -- Today
		td.tribe-events-present div[id*=tribe-events-daynum-] a {
			color:$orange;
		} 

		// -- Hovers
		td:hover {
			background:$lightest-grey;
			box-shadow:none;
		}
	}
	// Event-type styles
	table.tribe-events-calendar .type-tribe_events {
		// Set standard border & padding for events with borders/padding
		&.tribe-events-category-special-events,
		&.tribe-event-featured,
		&.tribe-event-featured.tribe-events-category-special-events,
		&.tribe-events-category-general-meetings {
			border-top: 2px solid;
			border-bottom: 2px solid;
			border-left:.5rem solid;
			border-right: 2px solid;
			margin:0.3333333333rem!important;
			padding:.5rem!important;
		}

		// Set border, link, & background colors for specific event types
		// -- Special Events
		&.tribe-events-category-special-events {
			border-color:$yellow;
		}

		// -- Featured
		&.tribe-event-featured,
		&.tribe-event-featured.tribe-events-category-special-events {
			border-color:$blue;
			background:$light-blue;
			.tribe-events-month-event-title a,
			a {
				color:$blue;
				&:hover {
					color:$dark-purple;
				}
			}
		}
		&.tribe-events-category-general-meetings {
			border-color:$purple;
		}

	}
	// Tooltip styles
	.tribe-events-tooltip {
		padding:2rem;
		h4 {
			font-family: $glegoo;
		    font-weight: 700;
		    font-size: rem-calc(20);
		    line-height: rem-calc(24);
		    text-transform:none;
		    color: $purple;
		    margin-bottom:1rem;
		}
		.tribe-events-event-body {
			font-family:$open-sans;
			font-size:1.5rem;
			color:$black;
			margin:0;
			padding:0;
			.tribe-event-duration {
				font-weight:bold;
				margin-bottom:1rem;
			}
			.tribe-event-description {
				p:last-child {
					margin-bottom:0;
				}
			}
		}
	}
}

// Export button
#tribe-events .tribe-events-ical {
	font-family:$oswald;
	font-size:1.1666667rem;
	font-weight:700;
	line-height:2rem;
	background-color:$purple;
	color:$white;
	margin-top:2rem;
	padding:.5rem 1rem;
	border-radius:0;
	&:hover, &:focus, &:active{
		background-color:$dark-purple;
	}
}

// Mobile
.tribe-is-responsive.tribe-mobile .tribe-events-page-title {
	margin:0;
}
.tribe-events-week {
	#tribe-mobile-container {
		border-bottom:2px solid $light-grey;
		margin:2rem 0;
		.tribe-mobile-day {
			.tribe-mobile-day-date {
				font-family: $oswald;
				font-weight: 700;
				font-size:1.1666667rem;
				background:$light-grey;
				color:$black;
				margin:0;
				padding:1rem;
			}
		}
		.type-tribe_events, .type-tribe_events~.type-tribe_events {
			padding: 2rem 0;
			h4 {
				a {
					font-family:$glegoo;
					font-weight:700;
					text-transform:none;
				}
			}
			.tribe-events-event-body {
				font-family:$open-sans;
				font-size:1.5rem;
				font-weight:bold;
				color:$black;
				margin-bottom:1rem;
			}
		}
		.type-tribe_events~.type-tribe_events {
			border-top:2px solid $light-grey;
		}
	}
}

.tribe-mobile #tribe-events-footer~a.tribe-events-ical.tribe-events-button {
	font-family:$oswald!important;
	font-size:1.1666667rem!important;
	font-weight:700!important;
	line-height:2rem!important;
	background-color:$purple!important;
	color:$white!important;
	height: auto!important;
	width:100%;
	margin-top:2rem!important;
	padding:1rem!important;
	border-radius:0!important;
	&:hover, &:focus, &:active{
		background-color:$dark-purple!important;
	}
}
/*.tribe-events-calendar thead th {
	font-family: "Oswald", Arial, sans-serif;
	background-color: $white;
	color: $purple;
	font-weight: 700;
	padding: .5em 0;
	white-space: nowrap;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	font-size: 1.25rem;	
}
#tribe-events .tribe-events-button, 
#tribe-events .tribe-events-button:hover, 
#tribe_events_filters_wrapper input[type="submit"], 
.tribe-events-button, .tribe-events-button.tribe-active:hover, 
.tribe-events-button.tribe-inactive, .tribe-events-button:hover, 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a { //various buttons
	font-family: "Oswald", Arial, sans-serif;
	background-color: $orange;
	color: #fff;	
}
#tribe-events-content .tribe-events-tooltip h4 { //tooltip
	background-color: $purple;
	color: $white;
	text-align: center;	
	padding: 8px;
}

#tribe-events-content .tribe-events-abbr, 
abbr.tribe-events-abbr.tribe-event-date-start, 
.tribe-events-tooltip .tribe-events-event-body {
	font-family: $glegoo;
  font-weight: 700;
  font-size: 1.5rem !important;
}
.tribe-event-description p {
	font-size: 1.4rem !important;
	font-weight: 500 !important;
}
.tribe-events-category-committee-meetings h2.tribe-events-list-event-title {//Committee Meetings Category - list view
	background-color: $purple !important;
	border: 2px solid $purple;
	a {
		color: $white !important;
		padding: 10px; 
	}
}
.tribe-events-category-general-meetings h3.tribe-events-month-event-title, //General Meetings Category
.tribe-events-category-general-meetings h2.tribe-events-list-event-title	{ //General Meetings Category - list view
	background-color: $white !important;
	border: 2px solid $purple;
	a {
		color: $purple;
		padding: 10px;
	}
}
.tribe-events-category-general-meetings h4.entry-title.summary {//General Meetings Category popup
	background-color: $white !important;
	color: $purple !important;
	border: 2px solid $purple;
}
.tribe-events-category-special-events h3.tribe-events-month-event-title, //Special Events Category
.tribe-events-category-special-events h2.tribe-events-list-event-title	{ //Special Events Category - list view
	background-color: $yellow !important;
	a {
		color: $purple;	
		padding: 10px;
	}
}
.tribe-events-category-special-events h4.entry-title.summary {//Special Events Category popup
	background-color: $yellow !important;
	color: $purple !important;
}
#tribe-events-content .tribe-events-abbr,
.tribe-events-abbr.tribe-event-date-start,
.tribe-events-tooltip .tribe-events-event-body {
	font-size: 1rem;
	font-weight: 700;
	color: $black;
	margin: 10px 0;
}
.tribe-event-description p {
	font-size: 1.2rem;
	color: $black;
}
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {//actual event
	background-color: $purple;
}
.tribe-events-calendar td a {
	color: $white;
}
button:hover, 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, 
.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
	font-size: 1rem;
	text-align: right;
}
section#tribe-events-countdown-widget-2 {
	margin-bottom: 20px;
}

//recurring events
.tribe-events-loop .tribe-events-event-meta {
	font-size: 1rem;
}
#tribe-events-content .tribe-events-abbr {
	font-weight: normal;
}
.tribe-events-list .type-tribe_events h2 {
	margin-bottom: 20px;
}

*/
//Single Events
.tribe-events-schedule h2 span  {
	color: $black !important;
	font-size: 1.5rem;
	font-family: $glegoo;
}
.tribe-events-schedule .event-is-recurring a {
	color: $purple !important;
	font-size: 1.5rem;
	font-family: $glegoo;
		&:hover {
			text-decoration: underline !important;
		}
}
.tribe-events-event-meta address.tribe-events-address, 
.tribe-events-list .tribe-events-venue-details {
	font-weight: 600;
	font-size: 1.5rem;
}

//Home Page Events Widget
section.large-12.columns.widget.tribe-events-adv-list-widget {
	margin-top: 20px;
	padding:0;
}
.tribe-mini-calendar-event {
	position:relative;
	border-bottom: 2px solid $light-grey;
	padding:0 0 1.8333333333rem 0;
	margin:0 0 2rem 0;
	.list-info {
		margin:0;
		h2 {
			margin-right:2rem;
			margin-bottom:0;
			text-transform: unset;
			a {
				font-family: "Glegoo", sans-serif;
				font-weight: 700;
				font-size: 1.6666666667rem;
				line-height: 2rem;
				margin-bottom: 1.5rem;
				&:hover, &:focus {
					&:after {
						right:1.66666667rem;
					}
				}
				&:after {
					content:"\0203A";
					position: absolute;
					display:block;
					font-size:3rem;
					color:$orange;
					top: 50%;
					transform: translateY(-100%);
					right:2rem;
				}
			}
		}
	}
	.list-date {
		background:none;
		margin:0 2rem 0 0;
		padding:0;
		width:auto;
		overflow:visible;
		.list-dayname,
		.list-daynumber {
			font-family: $oswald;
			line-height:1.6666666667rem;
			color: $orange;
			padding:0;
		}
		.list-dayname {
			font-size:rem-calc(14);
		}
		.list-daynumber {
			font-size:rem-calc(24);
		}
	}
	.tribe-events-duration {
		display:none;
	}
}

.module-events__events .tribe-event-featured {
	border-bottom:0;
	.tribe-mini-calendar-event {
		color:#fff;
		background:$purple;
		padding:1.5rem 2rem;
		margin-bottom:1rem;
		.list-date, .list-info {
			padding:0;
		}
		.tribe-events-duration {
			display:initial;
			font-size:1.1666666667rem;
			font-weight:bold;
			line-height:2rem;
			color:$yellow;
		}
		.list-info {
			h2 {
				a {
					&:after {
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}

p.tribe-events-widget-link {
	display:none;
}

