//Events Calendar
//Events Calendar

.tribe-events-calendar thead th {
	font-family: "Oswald", Arial, sans-serif;
	background-color: $white;
	color: $purple;
	font-weight: 700;
	padding: .5em 0;
	white-space: nowrap;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	font-size: 1.25rem;	
}
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a { //various buttons
	font-family: "Oswald", Arial, sans-serif;
	background-color: $orange;
	color: #fff;	
}
#tribe-events-content .tribe-events-tooltip h4 { //tooltip
	background-color: $purple;
	color: $white;
	text-align: center;	
}
.tribe-events-category-committee-meetings h2.tribe-events-list-event-title {//Committee Meetings Category - list view
	background-color: $purple !important;
	border: 2px solid $purple;
	a {
		color: $white !important;
		padding: 10px; 
	}
}
.tribe-events-category-general-meetings h3.tribe-events-month-event-title, //General Meetings Category
.tribe-events-category-general-meetings h2.tribe-events-list-event-title	{ //General Meetings Category - list view
	background-color: $white !important;
	border: 2px solid $purple;
	a {
		color: $purple;
		padding: 10px;
	}
}
.tribe-events-category-general-meetings h4.entry-title.summary {//General Meetings Category popup
	background-color: $white !important;
	color: $purple !important;
	border: 2px solid $purple;
}
.tribe-events-category-special-events h3.tribe-events-month-event-title, //Special Events Category
.tribe-events-category-special-events h2.tribe-events-list-event-title	{ //Special Events Category - list view
	background-color: $yellow !important;
	a {
		color: $purple;	
		padding: 10px;
	}
}
.tribe-events-category-special-events h4.entry-title.summary {//Special Events Category popup
	background-color: $yellow !important;
	color: $purple !important;
}
#tribe-events-content .tribe-events-abbr,
.tribe-events-abbr.tribe-event-date-start,
.tribe-events-tooltip .tribe-events-event-body {
	font-size: 1rem;
	font-weight: 700;
	color: $black;
	margin: 10px 0;
}
.tribe-event-description p {
	font-size: 1.2rem;
	color: $black;
}
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {//actual event
	background-color: $purple;
}
.tribe-events-calendar td a {
	color: $white;
}
button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, .tribe-events-calendar td div[id*="tribe-events-daynum-"] {
	font-size: 1rem;
	text-align: right;
}
section#tribe-events-countdown-widget-2 {
	margin-bottom: 20px;
}

//recurring events
.tribe-events-loop .tribe-events-event-meta {
	font-size: 1rem;
}
#tribe-events-content .tribe-events-abbr {
	font-weight: normal;
}
.tribe-events-list .type-tribe_events h2 {
	margin-bottom: 20px;
}

//Home Page Events Widget
section.large-12.columns.widget.tribe-events-adv-list-widget {
	margin-top: 16px;
}
.tribe-mini-calendar-event .list-date .list-dayname,
.tribe-mini-calendar-event .list-date .list-daynumber {
	color: $orange;
	//font-size: 2rem;
}
.tribe-events-duration {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
}
.tribe-mini-calendar-event .list-info h2 {
	text-transform: unset;	
}
h2.tribe-events-title a {
	font-family: "Glegoo", sans-serif;
	font-weight: 700;
	font-size: 1.66667rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
}
.tribe-mini-calendar-event {
	border-bottom: 2px solid #E6E6E6;
}
