body {
  overflow-x:hidden;
}

.lead-in {
  border-bottom:2px solid $light-grey;
			margin-top: 4rem;
			margin-bottom: 4rem;
			padding-bottom: 4rem;

    @include breakpoint(large) {
			margin-top: 6rem;
			margin-bottom: 6rem;
			padding-bottom: 6rem;
	}
  .cta-block {
    margin-top:rem-calc(24);
  }
}
.main-wrap {
  @include xy-grid-container;
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {

    // Place the sidebar below main content on small screens ...
      @include breakpoint(small) {
        .main-content { order: 1; }
        .sidebar { order: 2; }
      }

    // ... and to the left on medium-up screens, when using the sidebar-left template
      @include breakpoint(medium) {
        .main-content { order: 2; }
        .sidebar { order: 1; }
      }
  }

  // Full width template
  &.full-width {
    .main-content {
      @include xy-cell(12);
    }
  }

  .sidebar {

    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}

.main-content {
  border-bottom:2px solid $light-grey;
  margin-bottom:4rem;
  padding-bottom:4rem;
  h2 {
    margin-bottom:2rem;
  }
  &:last-child {
    border:none;
  }
}

.three-column-links {
  border-top:2px solid $light-grey;
  margin-top: rem-calc(48);
  margin-bottom: rem-calc(72);
  padding-top: rem-calc(48);

  .home & {
    border-top:none;
    margin-top:0;
  } 
}

//Pages
section.container {
	margin: 0;
	.home & {
		margin: 0;
			@include breakpoint(medium) {
				margin: -122px 0 0;
		}
	}
}
.grid-container {
	max-width: 95%;
		@include breakpoint(medium) {
			max-width: 104rem;
	}	
}
.grid-margin-x > .small-8 {
	padding-right: 8rem;
}
.entry-content {
	padding-right: 8rem;
}

/*ACF Pro NAACP Committees dpc*/

h3.committee-title {
	font-weight: bold;
}
.image-group {
	float: left;
	margin-right: 15px;
	display: flex;
	flex-wrap: wrap;
}
.committee-leader {
	max-width: 150px;
	margin: 0 3px -20px 0;
}
.committee-description {
	clear: right;
	> p {
		font-size: 1.5rem;
	}
	> ol {
		margin-left: 0;
	}
}


/*ACF Pro NAACP Resources dpc*/

.accordion-title {
	font-size: 1.25rem;
}
.accordion-title.accordion-sub-category {
	text-transform: capitalize;
}
h5.resource-name {
	margin-top: 3rem;
}
p.wp-caption-text {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.wp-caption-text span {
	font-size: .6rem;
}
.clear {
	clear: both;
}
.accordion-content p {
	font-size: 1rem;
}
.accordion-content p span {
	font-weight: bold;
}
p.resource-address {
	margin-top: -10px;
}
p.divider {
	display: block;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

//ACF Pro Get-Involved page
.send-by-mail {
	margin-bottom: 0;
}
.donation-destination {
	span {
		font-weight: 600;
	}
}
.paypal-link {
	margin: 2rem auto;
	width: 150px;
}
.text-center span {
	font-family: $glegoo;
	color: $black;
	font-size: 2rem;
	text-transform: none;
	line-height: 1;
}
.callout.membership-form {
	background-color: transparent;
	max-height: 20%;
	outline: 10px solid $yellow;
}

//Contact Form
.ninja-forms-form-wrap * {
	width: 100%;
}
.main-contact-form .nf-field-element input, 
.main-contact-form .nf-field-element select, 
.main-contact-form .nf-field-element textarea {
	border: 2px solid #ccc;
}