.module-events {

	margin-bottom:8rem;

  &__header {
    background-color: $yellow;
    width: 80%;
    margin: 2rem auto;
  }

  &__events {
    justify-content: center;

    @include breakpoint(medium up) {
      justify-content: space-between;
    }
  }

  &__event {
    margin-top:22px;
    padding-bottom:24px;
		&:first-child {
        	margin-top: 20px;
      	}
    &-content {
      > a {
        line-height: 3rem;
      }
    }

    &-cta {
      .button {
        margin-bottom: 0;
      }
    }
  }
}

.module-events__header {
	padding-bottom: 3rem;
}


@media screen and (max-width: 635px){
	.module-events.callout.large {
		padding: 0;
		padding-top: 4em;
	}
	.module-events__header {
		width: 90%;
	}
}



//Events Calendar widget h2 on Front page
h2.text-left.events {
	border-bottom: 4px solid $orange;
 	line-height: 3rem;
	color: $black;
	padding-bottom:1rem;
	margin-bottom:0;
}
.text-left.events.cell {
	span {
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $purple;		
	}
	a {
		margin-bottom: 0;
		line-height: 1;
	}
}


//Single event
.module-events__event {
	border: none;
	border-bottom: 2px solid $light-grey;
	display: flex;
	flex-basis: 80px; //controls minimum height of cell	
}

//Event content
.module-events__event-content {//aligns tops of event date and title
	display: flex;
}

//Event date
.module-events__event-content > a {
	color: $orange;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: $oswald;
	margin-top: -4px;
}

//Event arrow
.module-events__event-cta a.button.small {
	font-size: 1.8rem;
	padding: .5em;
	line-height: .2;
	background: transparent;
	color: $orange;
	margin-top:8px;
}


