.module-events {

	margin-bottom:8rem;

  &__header {
    background-color: $yellow;
    width: 80%;
    margin: 2rem auto;
  }

  &__events {
    justify-content: center;

    @include breakpoint(medium up) {
      justify-content: space-between;
    }
  }

  &__event {
    margin-top:22px;
    padding-bottom:24px;
		&:first-child {
        	margin-top: 20px;
      	}
    &-content {
      > a {
        line-height: 3rem;
      }
    }

    &-cta {
      .button {
        margin-bottom: 0;
      }
    }
  }
}


@media screen and (max-width: 650px){
	.callout.large h1 {
		margin-top: 0;
	}
}

.module-events.callout.large {
	background: $white;
}
.callout.large h1{
	color: $white;
}
.module-events__header {
	padding-bottom: 3rem;
}


@media screen and (max-width: 650px){
	.module-events.callout.large {
		padding: 0;
		padding-top: 2em;
	}
	.module-events__header {
		width: 90%;
	}
}



//Events - dpc-180203

//front page "Next General Session"
.module-events.callout {
	border: none;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint (medium) {
	max-width: 1248px;
	}
}

//"Next General Session" text area
.module-events__header.next-meeting {
	margin-top: -180px;
	background-color: $secondary-color;
	border:none;
}

/*//Wraps h2 plus 4 Event modules
.grid-margin-x.events-news {
	max-width: rem-calc(1248);
	margin: 0 auto;
	display: flex;
}*/

//Events h2
h2.text-left.events {
	border-bottom: 4px solid $orange;
 	line-height: 3rem;
	color: $black;
	padding-bottom:1rem;
	margin-bottom:0;
}

//Single event
.module-events__event {
	border: none;
	border-bottom: 2px solid $light-grey;
	display: flex;
	flex-basis: 80px; //controls minimum height of cell	
}

//Event content
.module-events__event-content {//aligns tops of event date and title
	display: flex;
}

//Event date
.module-events__event-content > a {
	color: $orange;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: $oswald;
	margin-top: -4px;
}

//Event title
/*.module-events__event-content h5 {
	color: $black;
	font-size: 1rem;
	margin-left: 40px;
	margin-right: 20px;
	margin-bottom:0;
}*/

//Event arrow
.module-events__event-cta a.button.small {
	font-size: 1.8rem;
	padding: .5em;
	line-height: .2;
	background: transparent;
	color: $orange;
	margin-top:8px;
}


