.module-events {

  &__header {
    background-color: $yellow;
    width: 80%;
    margin: 2rem auto;
  }

  &__events {
    justify-content: center;

    @include breakpoint(medium up) {
      justify-content: space-between;
    }
  }

  &__event {
    margin: 10px 10px;
    padding-top: 10px;
    flex-basis: 150px;
    border: 3px solid $purple;

    &-content {
      margin: 0 12px 18px 12px;
      > a {
        line-height: 36px;
      }
    }

    &-cta {
      .button {
        margin-bottom: 0;
      }
    }

    @include breakpoint(medium up) {
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
}


@media screen and (max-width: 650px){
	.callout.large h1 {
	margin-top: 0;
	}
}

.module-events.callout.large {
	background: $white;
}
.callout.large h1{
	color: $white;
}
.module-events__header {
	padding-bottom: 3rem;
}


@media screen and (max-width: 650px){
	.module-events.callout.large {
		padding: 0;
		padding-top: 2em;
	}
	.module-events__header {
		width: 90%;
	}
}
