footer {
  border-top: 2px solid $light-gray;
  margin: 0 auto;
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(96);

  @include breakpoint(large) {
    .cell:nth-child(2) {
      border-left: 2px solid $light-grey;
    }
  }

  .widget { 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-right:4rem;
        a {
          font-family:$oswald;
          font-weight: bold;
          text-transform:uppercase;
          padding:0 0 0 0;
          margin-bottom:rem-calc(24);
        }
        ul {
          li {
            margin-right:0;
          }
          a {
            font-size:1.1666666667rem;
            font-family: $open-sans;
            font-weight: 600;
            text-transform:none;
            color: $purple;
            padding:0 0 0 0;
          }
        }
      }
    }
  }
  .footer__upper {
    padding-left:rem-calc(48);
  }
  .footer__lower {
    border-top: 2px solid $light-gray;
    text-align:center;
    margin-top:rem-calc(48);
    padding-top:rem-calc(48);
    ul {
      display:inline-block;
      margin:0 auto 4rem auto;
      li {
        display:inline-block;
        border-right: 2px solid $light-grey;
        margin:0;
        padding:0 2rem;
        &:last-child {
          border:none;
        }
        a {
          text-align:center;
          margin:0;
        }
      }
    }
  }
}

.module__closing-cta {
  border-top:2px solid $light-grey;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-top: 4rem;
    @include breakpoint(medium) {
			margin-bottom: 6rem;
			padding-top: 6rem;
	}
		.home & {
			border-top:none;
			margin-top:0;
  } 
}

//Footer Ninja Form - Get Updates
.newsletter-signup .nf-form-fields-required {
	display: none;
}
.nf-form-content {
	display: flex;
}
.label-above.nf-field-container.html-container { 
	/*font-family: $oswald;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;*/
}
.get-updates,
.get-updates p { //Get Updates
	font-family: $oswald;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0 !important;
}

.signup {
	font-family: $oswald;
	color: $white !important;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: $purple;
	padding: 1rem 3rem;
	border: none;
}
.nf-form-cont .one-third.submit-container {
	margin-left: 0;
}
.nf-field-element input {
	height: 4rem !important;
}
.ninja-forms-field.email-address.nf-element {
	margin-top: 10px;
	border: 3px solid #ccc;
}