footer {
  border-top: 2px solid $light-gray;
  margin: 0 auto;
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(96);

  @include breakpoint(large) {
    .cell:nth-child(2) {
      border-left: 2px solid $light-grey;
    }
  }

  .widget { 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-right:2rem;
        &:last-child {
          margin-right:0;
        }
        @include breakpoint(medium) {
          margin-right:4rem;
          &:last-child {
            margin-right:4rem;
          }
        }
        a {
          font-family:$oswald;
          font-weight: bold;
          text-transform:uppercase;
          padding:0 0 0 0;
          margin-bottom:rem-calc(24);
        }
        ul {
          li {
            margin-right:0;
          }
          a {
            font-size:1.1666666667rem;
            font-family: $open-sans;
            font-weight: 600;
            text-transform:none;
            color: $purple;
            padding:0 0 0 0;
          }
        }
      }
    }
  }
  .footer__upper {
    padding-left:rem-calc(24);
    padding-right:rem-calc(24);
    @include breakpoint(medium) {
      padding-left:rem-calc(48);
      padding-right:0;
    }
  }
  .footer__lower {
    border-top: 2px solid $light-gray;
    text-align:center;
    margin-top:rem-calc(48);
    padding-top:rem-calc(48);
    ul {
      display:block;
      height:2rem;
      margin:0 auto 2rem auto;
      li {
        display:inline-block;
        border-right: 2px solid $light-grey;
        height:2rem;
        margin:0;
        padding:0 2rem;
        &:last-child {
          border:none;
        }
        a {
          float:left;
          text-align:center;
          margin:0;
        }
        &#menu-item-29, &#menu-item-30 {
          a {
            display:inline-block;
            width:2rem;
            height:2rem;
            font-size:1px;
            color:$white;
          }
        }
        &#menu-item-29 a {
          background:url('../images/icons/twitter.svg') center center no-repeat;
        }
        &#menu-item-30 a {
          background:url('../images/icons/fb.svg') center center no-repeat;      
        }
      }
    }
  }
}

.module__closing-cta {
  border-top:2px solid $light-grey;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-top: 4rem;
    @include breakpoint(medium) {
			margin-bottom: 6rem;
			padding-top: 6rem;
	}
		.home & {
			border-top:none;
			margin-top:0;
  } 
}

//Footer Ninja Form - Get Updates
.newsletter-signup .nf-form-fields-required {
	display: none;
}
.nf-form-content {
	display: flex;
}
.label-above.nf-field-container.html-container { 
	/*font-family: $oswald;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;*/
}
.get-updates,
.get-updates p { //Get Updates
	font-family: $oswald;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0 !important;
}

.signup {
	font-family: $oswald;
	color: $white !important;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: $purple;
	border: none;
}

footer{
  .nf-before-form-content {
    margin-bottom:0;
  }
  .nf-form-cont {
    .two-thirds.email-container, .one-third.submit-container {
      width:100%;
      height:auto;
      margin:0;
      padding:0;
    }
    .nf-field-element input {
      height:auto!important;
      margin-bottom:0;
      padding:1.6666666667rem;
    }
    .label-above .nf-field-label {
      display:none;
    }
    .nf-input-limit {
      margin-top:0;
    }
  }
  @include breakpoint(medium) {
    .nf-form-cont {
      .two-thirds.email-container{
        margin-left: 0;
        width:75%;
      } 
      .one-third.submit-container  {
        margin-left: 0;
        width:25%;
      }
    }

  }
  @include breakpoint(large){
    .nf-form-cont {
      .two-thirds.email-container, .one-third.submit-container  {
      	margin-left: 0;
        width:75%;
      }
      .one-third.submit-container  {
        margin-left: 0;
        width:25%;
      }
      .nf-field-element input {
        padding:1rem;
      }
    }
  }
}
.ninja-forms-field.email-address.nf-element {
	margin-top: 1rem!important;
	border: 2px solid $light-grey;
}