.footer-container {
  margin: 0 auto;
  border-top: 2px solid $light-gray;
}

.footer {
  padding: rem-calc(30) rem-calc(12);

  @include breakpoint(large) {
    .cell:nth-child(2) {
      border-left: 2px solid $light-grey;
    }
  }
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      a {
        font-size:1.5rem;
        font-family: $oswald;
        font-weight: bold;
        text-transform:uppercase;
        color: $purple;
      }
      ul {
        li {
          &.is-active a {
            background: initial;
            color: $purple;
          }
          a {
            font-size:1.3333333333rem;
            font-family: $open-sans;
            font-weight: 600;
            text-transform:none;
            color: $purple;
          }
        }
      }
    }
    &__lower {
      .menu {
        text-align:center;
        li {
          display:inline-block;
          a {
            text-align:center;
            margin:0;
          }
        }
      }
    }
  }

  &__sub-category-list {
    padding: 0;

    a {
      padding: rem-calc(16) rem-calc(16);
    }
  }


.menu label {
  padding: 0.7rem 0;
  line-height: 1.33333;
}


//Footer - dpc180407
.footer__sub-category-list a {
	font-size: 1rem;
	padding: .7rem 1rem;
}
label.updates {
	font-family: "Oswald", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.divider {
	width: 100%;
	border-bottom: 2px solid #ddd;
}
.footer__lower ul.menu.align-center {
	margin: .5rem 0;
	& li {
		font-size: .6rem;
	}
}

.module__closing-cta {
  border-top:2px solid $light-grey;
  margin-top: rem-calc(96);
  margin-bottom: rem-calc(96);
  padding-top: rem-calc(96);

  .home & {
    border-top:none;
    margin-top:0;
  } 
}
