// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

//Header Navigation
.site-header {
	position: relative;
	z-index: 100;
}
.home .top-bar {
	background-color: transparent;
}
.top-bar .top-bar-left {
	flex: 48%;
	max-width: 250px;
  @include breakpoint(635px) {
	 min-width: 250px;
  }
}
.top-bar-title {
	flex: 0 0 auto;
	margin: 0 1rem -1rem 0;
}
.top-bar ul {
	background-color: transparent;
	margin-top: -10px;
	margin-right: 4rem;
}

.home .mobile-menu ul li {
	background-color: $purple;
}

.top-bar .menu a {
	font-size: 1.3rem !important;
}
.top-bar .top-bar-title a {
	.portland-branch {
		font-size: .6rem;
		text-transform: uppercase;
		margin-top: -.8rem;
		margin-bottom: -1rem;
		letter-spacing: 1px;
	}
	.naacp-text {
	font-size: 3.5rem;
	}
	&:hover {
		text-decoration: none;
		color: $yellow !important;
	}
}
// Logo
.naacp-logo.style-svg {
	width: 80px;
	height: auto;
	float: left;
	margin: 0 5px 10px 15px;
	padding-top: 10px;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

}

/*.title-bar-title {
  a {
    font-size: 1rem;
		font-weight: 600;
    color: #B9B9B9;
		padding-left: 2rem;
	}
	a:hover {
		text-decoration: none;
		color: $yellow;
	}
}*/

/*.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}*/
.menu .is-active > a, .dropdown.menu .is-active > a {
  background:transparent;
}
.menu.vertical {
	margin-top: 2rem;
	padding-left: .5rem;
}

// Tablet and desktop menu

.top-bar {
  a {
    font-family: $oswald;
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }
  .menu {
    .current-menu-item, .current-menu-ancestor {
      > a {
        color:$yellow;
        &:after {
          content: '';
          background-color: #FFC003;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
        }
      }

    }
    ul {
      li {
        display:block;
      }
    }
    .is-dropdown-submenu {
      border: 0;
      text-align: center;
      min-width: initial;

      > li.is-dropdown-submenu-item {
        width: initial;
        background: $yellow;
        padding:1rem 1rem 0 1rem;

        a {
          color: $purple;
          &:hover, &:focus {
            color: $dark-purple;
          }
        }

        &:last-child {
          padding-bottom: 1rem;
        }
      }

      // Submenu box top arrow
      &:before {
        content: '';
        position: absolute;
        left: 46%;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $yellow;
      }
    }
  }
}

.menu-item:not(.is-dropdown-submenu-item) > a {
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

//Submenu/Dropdown	
.dropdown.menu.vertical.submenu.is-dropdown-submenu.first-sub {
	right: -6.5rem !important;
	top: 2rem;
	z-index: 100;
}	
.dropdown.menu.vertical.submenu.is-dropdown-submenu.first-sub li a:hover {
	text-decoration: none;
}

// Hide default WP submenu carrot
/*.dropdown.menu:first-child > li.is-dropdown-submenu-parent > a:after { display: none; }*/
.is-dropdown-submenu-parent a::after {
  top: auto;
  right: auto;
  margin-top: 0;
}
.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// Footer
footer {
  .menu {
    a{
      &:hover, &:focus {
        color:$dark-purple;
      }
    }
    li.is-active {
      a {
        color:$purple;
      }
    }
  }
}