// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

//Header Navigation
.site-header {
	position: relative;
	z-index: 100;
}
.home .top-bar {
	background-color: transparent;
}
.top-bar .top-bar-left {
	flex: 48%;
	max-width: 250px;
}
.top-bar-title {
	flex: 0 0 auto;
	margin: 0 1rem -1rem 0;
}
.top-bar ul {
	background-color: transparent;
	margin-top: -10px;
}
.home .mobile-menu ul li {
	background-color: $purple;
}
.container {
  @include breakpoint(medium) {
	margin-top: -112px;
  }
}
.top-bar .menu a {
	font-size: 1.3rem !important;
}
.top-bar-title a {
	.portland-branch {
		font-size: .6rem;
		text-transform: uppercase;
		margin-top: -1.5rem;
		margin-bottom: -1.5rem;
	}
	.naacp-text {
	font-size: 3.5rem;
	}
}
//Logo
.naacp-logo.style-svg {
	width: 80px;
	height: auto;
	float: left;
	margin: 0 5px 10px 15px;
	padding-top: 10px;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {

  a {
    font-family: $oswald;
  }

  .top-bar-title a {
//    color: #B9B9B9;
		color: $white;
		padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
  }

  .menu-item:not(.is-dropdown-submenu-item) > a {
    &:hover {
      color: $yellow;
    }
  }


  .menu-item.current-menu-item:not(.is-dropdown-submenu-item) > a {
    &:after {
      content: '';
      background-color: #FFC003;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
    }
  }

  .menu > li:not(.menu-text) > a { padding: 1rem; }

  .dropdown.menu {
    .is-dropdown-submenu {
      border: 0;
      text-align: center;
      min-width: initial;

      > li.is-dropdown-submenu-item {
        width: initial;
        padding: 0 8px 0 8px;
        background: $yellow;

        a {
          &:link {
            color: $black;
          }

          &:visited, &:active {
            color: $purple;
          }

          &:hover, &:focus {
            color: lighten($black, 30%);
          }
        }

        &:first-child {
          padding-top: 6px;
        }

        &:last-child {
          padding-bottom: 6px;
        }
      }

      // Submenu box top arrow
      &:before {
        content: '';
        position: absolute;
        left: 46%;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $yellow;
      }
    }
  }

  // Hide default WP submenu carrot
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

//Footer Navigation sub-menu
.menu-item-has-children ul.sub-menu li a {
	font-size: 1.2rem;
	padding-left: 10px;
}