.module-news {

  margin-bottom:8rem;

  &__news-item {
    margin-top:22px;
    &:nth-child(3n), &:nth-child(4n) {
      hr {
        display:none;
      }
    }
  }
}

//News dpc-180203
.news-title,
.callout.secondary.news-item,
aside .callout.secondary,
.callout.secondary.pagination {
	background-color: $white;
}
.news-title {
	border: none;
}
aside {
	text-align: left;
	margin-left: auto;
}
//News container
.module-news.callout {
	border: none;
	padding: 0;
}
//News h2 
h2.text-left.latest-news {
	border-bottom: 4px solid $orange;
  line-height: 3rem;
	color: $black;
  padding-bottom:1rem;
  margin-bottom:0;
}

.module-news__news-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.callout.secondary.news-item {
	text-align: left;
	border: none;
	border-bottom: 2px solid #ddd;
}

.module-news__news-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

