.module-news {

  margin-bottom:8rem;

  &__news-item {
    margin-top:22px;
    &:nth-child(3n), &:nth-child(4n) {
      hr {
        display:none;
      }
    }
  }
}

//Home Page Latest News
.module-news__news-item-content span {//Read article arrows
	color: $orange;
	font-weight: 700;
	vertical-align: text-bottom;
}
.text-left.latest-news.cell {
	span {
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $purple;		
	}
	a {
		margin-bottom: 0;
		line-height: 1;
	}
}

//News dpc-180203
.news-title,
.callout.secondary.news-item,
aside .callout.secondary,
.callout.secondary.pagination {
	background-color: $white;
}
.news-title {
	border: none;
}
aside {
	text-align: left;
	margin-left: auto;
}
//News container
.module-news.callout {
	border: none;
	padding: 0;
}
//News

.news-item {
	margin-bottom:2rem;
}

