//Home Page Latest News
.module-news {

  margin-bottom:8rem;

  &__news-item {
    margin-top:20px;
    &:nth-child(4n) {
      hr {
        display:none;
      }
    }
    @include breakpoint(medium) {
    	&:nth-child(3n) {
	      hr {
	        display:none;
	      }
	    }
    }
  }
}
.module-news__news-item-content span {//Read article arrows
	color: $orange;
	font-weight: 700;
	vertical-align: text-bottom;
}
.text-left.latest-news.cell {
	border-bottom: 4px solid $orange;
 	line-height: 3rem;
	color: $black;
	padding-bottom:1rem;
	margin-bottom:0;
	span {
		font-family: "Oswald", Arial, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: $purple;		
	}
	a {
		margin-bottom: 0;
		line-height: 1;
	}
}

//News container
.module-news.callout {
	border: none;
	padding: 0;
}

// News page
.news-item {
	margin-bottom:2rem;
}


// Single
.news-title,
.callout.secondary.news-item,
aside .callout.secondary,
.callout.secondary.pagination {
	background-color: $white;
}
.news-title {
	border: none;
}
p.byline.author {
	margin-bottom:2rem;
}

.single {
	.main-content {
		margin-bottom:0;
		padding-bottom:0;
		header {
			border-bottom:2px solid $light-grey;
			margin-bottom:4rem;
		}
	}
}
aside {
	text-align: left;
	margin-left: auto;
}